#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#
# macOS meta-data
*.DS_Store
