@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: rgb(204, 129, 173);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: rgb(236, 180, 180);
    color: rgb(255, 255, 255);
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.line {
    display: inline-block;
}

input[type="text2"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label[htmlFor="confirm_pwd"],
label[htmlFor="username"],
label[htmlFor="password"] 
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-image: linear-gradient(to bottom right, #ffc39e 40%, #ef8d9c 100%);
}

section {
    display: flex;
    margin: auto;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 41.25vh; 
    padding: 1rem 0.5rem;
  }